.icon--list {
    position: absolute;
    bottom: 1.5rem;
    left: 9.5rem;

    display: flex;
    gap: 1rem;
    align-items: center;
}

.icons {
    color: rgb(124, 124, 124);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.icons:hover {
    transform: scale(1.05);
    color: rgb(91, 91, 91);
}